/* Популярні запитання */
.popular-questions {
  background: #f4f4f8;
  padding-bottom: 116px;
}
.popular-questions h2 {
  padding-top: 116px;
  margin-bottom: 64px;
  color: #1b1b1b;
  text-align: center;
  font-family: Montserrat;
  font-size: 46px;
  font-weight: 700;
}
.accordion-questions {
  width: 100%;
}
.accordion-questions {
  max-width: 1440px;
  width: 85%;
  text-align: center;
  padding: 30px 0 30px;
  border-radius: 30px;
  background: #ebe7f3;
  margin: 0 auto;
}
.accordion-border {
  border: none;
  border-bottom: 2px solid #4d1299;
  width: 90%;
}
.accordion {
  margin: 0 auto;
  background: #ebe7f3;
  color: #1b1b1b;
  cursor: pointer;
  padding: 32px 0 32px;
  width: 90%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 24px;
  font-family: Montserrat;
  font-weight: 600;
  transition: 0.4s;
}
.accordion.active {
  border-bottom: none;
}
.accordion:after {
  content: "";
  background-image: url(../img/plus.png);
  float: right;
  width: 29px;
  height: 29px;
}
.active:after {
  content: "";
  background-image: url(../img/minus.png);
}
.panel {
  background: #ebe7f3;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.panel p {
  margin: 0 auto;
  width: 90%;
  text-align: start;
  color: #1b1b1b;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
}
.questions-button {
  display: flex;
  justify-content: center;
  margin: 64px 0;
}
.questions-button a {
  border-radius: 50px;
  background: #4d1299;
  padding: 18px 26px;
  width: 244px;
  text-align: center;
  color: #fff;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
}
.questions-button a:hover {
  background: #ff8427;
  color: #1b1b1b;
}

@media screen and (max-width: 1200px) {
.accordion {
    padding: 28px 0;
    font-size: 22px;
  }
  .panel p {
    font-size: 16px;
    margin: 0 auto;
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
.accordion-questions {
    width: 90%;
  }
}

@media screen and (max-width: 660px) {
  .popular-questions {
    padding-bottom: 64px;
  }
  .popular-questions h2 {
    padding-top: 0;
    font-size: 24px;
  }
.questions-button a {
    padding: 16px 24px;
    width: 218px;
    font-size: 16px;
  }
  .questions-button {
    display: flex;
    justify-content: center;
    margin: 48px 0 0 0;
  }
  .accordion {
    padding: 28px 0;
    font-size: 20px;
  }
  .accordion-questions {
    width: 90%;
    padding: 0 0 64px 0;
  }
  .accordion:after {
    content: "";
    background-image: url(../img/plus-mob.png);
    float: right;
    background-repeat: no-repeat;
    width: 23px;
    height: 23px;
  }
  .active:after {
    content: "";
    background-image: url(../img/minus-mob.png);
  }
}
