.section-slider {
width: 100%;
}
.section-slider-container {
max-width: 1440px;
margin: 0 auto;
}
.section-slider-container ul {
  border-radius: 50px;
  border: 2px solid #4d1299;
  padding: 6px;
  width: 84%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto 48px;
}
.section-slider-container ul li {
  color: #1b1b1b;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.section-slider-container ul li:hover {
  color: #fff;
  border-radius: 50px;
  background: #4d1299;
  padding: 16px 0;
}
.section-slider-container ul .active {
  color: #fff;
  font-family: Open Sans;
  font-size: 20px;
  border-radius: 50px;
  background: #4d1299;
  padding: 16px 0;
}
.slider {
  width: 85%;
  margin: 0 auto 116px;
}
.slider-item {
  display: none;
  position: relative;
}
.slider-item.active {
  display: block;
}
.slider-item img {
  width: 100%;
  border-radius: 30px;
}

.tooltip {
  max-width: 240px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.slide1 .tooltip1 {
  bottom: 5%;
  position: absolute;
  left: 30%;
}
.tooltip-icon {
  position: relative;
}
.tooltip-descr {
  color: #1b1b1b;
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 400;
  background-color: #fff;
  border-radius: 5px;
  padding: 7px 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.tooltip-descr:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  position: absolute;
  bottom: 45%;
  left: 41%;
}

.slide1 .tooltip2 {
  top: 17%;
  position: absolute;
  right: 7%;
}
.tooltip2 .tooltip-descr:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  position: absolute;
  bottom: 35%;
  left: 46%;
}
.slide1 .tooltip3 {
  top: 38%;
  position: absolute;
  right: 20%;
}
.slide1 .tooltip4 {
  top: 45%;
  position: absolute;
  left: 36%;
}
.tooltip4 .tooltip-descr:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  position: absolute;
  bottom: 45%;
  left: 43%;
}
.slide1 .tooltip5 {
  top: 53%;
  position: absolute;
  right: 31%;
}
.tooltip5 .tooltip-descr:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  position: absolute;
  top: 42%;
  left: 45%;
  transform: rotate(180deg);
}

/* ROOM */
.slide2 .tooltip1 {
  bottom: 5%;
  position: absolute;
  left: 30%;
}
.slide2 .tooltip1 .tooltip-descr:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  position: absolute;
  bottom: 43%;
  left: 45%;
}
.slide2 .tooltip2 {
  top: 17%;
  position: absolute;
  right: 7%;
}
.slide2 .tooltip3 {
  top: 50%;
  position: absolute;
  right: 40%;
}
.slide2 .tooltip3 .tooltip-descr:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  position: absolute;
  bottom: 42%;
  left: 46%;
}

/* BATHROOM */
.slide3 .tooltip1 {
  bottom: 5%;
  position: absolute;
  left: 30%;
}
.slide3 .tooltip1 .tooltip-descr:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  position: absolute;
  bottom: 43%;
  left: 44%;
}
.slide3 .tooltip2 {
  top: 35%;
  position: absolute;
  left: 7%;
}
.slide3 .tooltip2 .tooltip-descr:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  position: absolute;
  bottom: 42%;
  left: 42%;
}
.slide3 .tooltip3 {
  top: 50%;
  position: absolute;
  right: 40%;
}
.slide3 .tooltip3 .tooltip-descr:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  position: absolute;
  bottom: 42%;
  left: 43%;
}

@media screen and (max-width: 768px) {
.slide1 .tooltip1 {
    bottom: 3%;
    position: absolute;
    left: 25%;
  }
  .slide1 .tooltip2 {
    top: 13%;
    position: absolute;
    right: 0%;
  }
  .slide1 .tooltip3 {
    top: 33%;
    position: absolute;
    right: 17%;
  }
  .slide1 .tooltip4 {
    top: 40%;
    position: absolute;
    left: 32%;
  }
  .slide1 .tooltip5 {
    top: 51%;
    position: absolute;
    right: 26%;
  }

  .section-slider-container ul {
    width: 89%;
  }
  .section-slider-container ul li {
    font-size: 18px;
  }
  .section-slider-container ul li .active {
    font-size: 18px;
  }
  .slider {
    width: 90%;
    margin-bottom: 72px;
  }
}

@media screen and (max-width: 660px) {
  .section-slider-container ul .active {
    font-size: 16px;
  }
  .slider {
    margin-bottom: 64px;
  }
  .section-slider-container ul {
    margin-bottom: 24px;
  }
  .section-slider-container ul li {
    font-size: 16px;
  }
  .section-slider-container ul li .active {
    font-size: 16px;
  }
}

@media screen and (max-width: 375px) {
  .footer .tooltip-icon svg {
    width: 20px;
    height: 20px;
    margin-top: 3px;
    margin-bottom: 3px;
  }
  .tooltip {
    max-width: 100px;
    text-align: center;
    width: fit-content;
  }
  .tooltip-descr {
    color: #1b1b1b;
    font-family: Open Sans;
    font-size: 9px;
    font-weight: 400;
    margin-bottom: 3px;
    margin-top: 3px;
    padding: 4px 6px;
  }

  .slide1 .tooltip1 {
    bottom: 3%;
    position: absolute;
    left: 15%;
  }
  .tooltip1 .tooltip-descr:after {
    bottom: 50%;
    left: 38%;
  }
  .slide1 .tooltip2 {
    top: 3%;
    position: absolute;
    right: 2%;
  }
  .tooltip2 .tooltip-descr:after {
    bottom: 30%;
    left: 40%;
  }
  .slide1 .tooltip3 {
    top: 33%;
    position: absolute;
    right: 20%;
  }
  .tooltip3 .tooltip-descr:after {
    bottom: 50%;
    left: 37%;
  }
  .slide1 .tooltip4 {
    top: 40%;
    position: absolute;
    left: 27%;
  }
  .tooltip4 .tooltip-descr:after {
    bottom: 50%;
    left: 40%;
  }
  .slide1 .tooltip5 {
    margin: 0;
    top: 51%;
    position: absolute;
    right: 26%;
  }
  .tooltip5 .tooltip-descr:after {
    bottom: 50%;
    left: 40%;
  }
  /* ROOM */
  .slide2 .tooltip1 {
    bottom: 5%;
    position: absolute;
    left: 10%;
  }
  .slide2 .tooltip1 .tooltip-descr:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
  }
  .slide2 .tooltip2 {
    top: 17%;
    position: absolute;
    right: 7%;
  }
  .slide2 .tooltip3 {
    top: 30%;
    position: absolute;
    right: 40%;
  }
  .slide2 .tooltip3 .tooltip-descr:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    bottom: 35%;
    left: 45%;
  }

  /* BATHROOM */
  .slide3 .tooltip1 {
    bottom: 1%;
    position: absolute;
    left: 20%;
  }
  .slide3 .tooltip1 .tooltip-descr:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
  }
  .slide3 .tooltip2 {
    top: 35%;
    position: absolute;
    left: 3%;
  }
  .slide3 .tooltip2 .tooltip-descr:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    bottom: 52%;
    left: 44%;
  }
  .slide3 .tooltip3 {
    top: 50%;
    position: absolute;
    right: 30%;
  }
  .slide3 .tooltip3 .tooltip-descr:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    bottom: 52%;
    left: 45%;
  }
}